.mep__container {
  position: relative;
  width: 100%;
  max-width: 720px;
  color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

/* .mep__container.is-playing {} */

.mep__container * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.mep__video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.mep__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mep__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.15);
  /* background: hsla(0, 0%, 100%, .2); */
}

.mep__button {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0.9;
  background-color: transparent;
}

.mep-button:hover {
  opacity: 1;
}

.mep__svg {
  width: 100%;
  height: 100%;
}

.mep-svg-fill {
  fill: #fff;
}

.mep__progress {
  position: relative;
  flex: 1;
  height: 5px;
  margin-right: 6px;
  background: hsla(0, 0%, 100%, .2);
}

.mep__progress-mask {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
}

.mep__progress-bar {
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  background-color: #fff;
  /* background-color: #00beff; */
}

.mep__time-display {
  margin-right: 6px;
  vertical-align: top;
}

.mep__volume-container {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.mep__volume-num {
  margin: 6px 0;
}

.mep__volume {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mep__volume-bar {
  width: 5px;
  height: 100%;
  background-color: #fff;
}

.mep__fullscreen-button {
  margin-right: 0;
}

.mep__container video::-webkit-media-controls  {
  display: none;
}