.mep__container {
  position: relative;
  width: 100%;
  max-width: 720px;
  color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.mep__container * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.mep__video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.mep__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mep__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.mep__button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0.9;
  overflow: hidden;
  background-color: transparent;
}

.mep-button:hover {
  opacity: 1;
}

.mep__svg {
  width: 100%;
  height: 100%;
}

.mep-svg-fill {
  fill: #fff;
}

.mep__container.is-playing .mep__play-button > svg {
  transform: translateY(-110%);
}

.mep__progress {
  position: relative;
  flex: 1;
  height: 5px;
  cursor: -webkit-grab;
  margin-right: 6px;
  background: hsla(0,0%,100%,.2);
}

.mep__progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  /* background-color: #fff; */
  background-color: #00beff;
}

.mep__time-display {
  margin-right: 6px;
  vertical-align: top;
}

.mep__fullscreen-button {
  margin-right: 0;
}
